* {
  box-sizing: border-box;
}

body {
  margin: 0 200px 0 200px;
  font-family: ubuntu;
}

.page-header{
  font-family: ubuntu;
  padding: 60px;
  text-align: center;
  color: white;
}

img {
  border-radius: 50%;
}

.main {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
}

.side {
  -ms-flex: 20%; /* IE10 */
  flex: 20%;
  background-color: #f1f1f1;
  padding: 20px;
}

.center {
  -ms-flex: 80%; /* IE10 */
  flex: 80%;
  background-color: white;
  padding: 20px;
  border: 15px solid #f1f1f1;
}

@media screen and (max-width: 700px) {
  .main {
    flex-direction: column;
  }

}

.page-footer{
  padding: 20px;
  text-align: center;
}
